/* ===== General Styles ===== */
:root {
	--text-blue: #0a507a;
	--text-blue-hover: #157ab3;
	--text-default: #2b2a29;
	--text-white: #ffffff;
}

.container {
	max-width: 1750px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
}

.header__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0 33px;
	font-size: 20px;
	font-weight: 700;
}

.header__menu {
}

.menu__list {
	display: flex;
	gap: 40px;
	color: var(--text-blue);
}

.menu__item {
}

.menu__link {
}

.header__phone {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	border-radius: 30px;
	background-color: var(--text-blue);
	color: var(--text-white);
}

.title-img {
}

.header-title {
}

.title-text {
}

.header__content {
}

.header__info {
}

.header__info-list {
}

.header__info-item {
}

.header__social {
}

.header__social-list {
}

.header__social-item {
}

.header__social-link {
}

.header__news {
}

.header__news-box {
}

.header__news-title {
}

.header__news-time {
}

.header__news-link {
}

.header__news-img {
}

.header__buttons {
}

.header__buttons-book {
}

.header__buttons-activities {
}
